.blog {
    display: flex;
    flex-direction: column;
    column-gap: 16px;
    padding: 30px 20px;
    font-family: "Poppins", sans-serif;
    row-gap: 16px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 10px;
}

.blogHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authorData {
    display: flex;
    column-gap: 4px;
    align-items: center;
    padding-top: 2px;
    cursor: pointer;
}

.authorAvatar {
    width: 33px;
    height: auto;
    img {
        border-radius: 50px;
    }
}

.authorName {
    color: $base-dark;
    font-size: 18px;
}

.date {
    color: #aaa;
    font-size: 12px;
} 

.blogButtons {
    display: flex;
    column-gap: 10px;
}

.likes {
    border: none;
    color: $base-light;
    background-color: transparent;
    border-radius: 5px;
    font-size: 13px;
    padding: 3px 6px;
}


.blogContent {
    display: flex;
    flex-direction: column;
    text-align: justify;
    cursor: pointer;
}

.blogTitle {
    font-weight: 550;
    font-size: 20px;
}

.blogAbout {
    color: #aaa;
    font-size: 13px;
}

.blogFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        color: #aaa;
        font-size: 12px;
        cursor: pointer;
    }
}

.blogTags {
    display: flex;
    align-items: center;
    column-gap: 5px;
    button {
        border: none;
        color: #aaa;
        background-color: transparent;
        border: 0.5px solid #aaa;
        border-radius: 15px;
        padding: 4px 8px;
        font-size: 12px;
    }
}

