.inputBox {
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid $base-light;
    font-family: "Poppins", sans-serif;
    border: 1.5px solid $base-light;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: visible;
    flex-grow: 1;
    outline: none;
  }

  .eye {
    width: 18px;
    color: $dark-grey;
}