.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #86c4ed35;
  height: calc(100vh - 60px);
}

.content {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 14px;
  }
  
  .signInTitle {
    font-family: "Poppins", sans-serif;
    color: $base-dark;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
  }
  
  .inputContainer {
    display: inline-flex;
    min-width: 300px;
    & input {
      overflow: visible;
      flex-grow: 1;
      padding: 12px;
      width: 100%;
    }
  }
  
.loginButton {
  font-family: "Poppins", sans-serif;
  border: none;
  background: $base-light;
  color: white;
  padding: 7px 14px;
  margin: 8px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}
.singInInput{
  display: flex;
  justify-content: space-between;
}
