.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #86c4ed35;
  height: calc(100vh - 60px);
}

.content {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 14px;
  }
  
  .signInTitle {
    font-family: "Poppins", sans-serif;
    color: $base-dark;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
  }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

  }
  
.loginButton {
  font-family: "Poppins", sans-serif;
  border: none;
  background: $base-light;
  color: white;
  padding: 7px 14px;
  margin: 8px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}
.singInInput{
  border: 1px solid $base-dark;
        border-radius: 10px;
        padding: 12px 34px;
        display: flex;
        justify-content: space-between;
        line-height: 22.8px;
        background-color: $light;
        width: 100%;
        

        input {
            border: none;
            outline: none;
            color: black;
            cursor: pointer;
            font-size: 17px;
            width: 250px;
        }
}

.passwordError {
  font-size: 13px;
  color: red;
  font-family: "Poppins", sans-serif;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}