.blogsWrapper {
    max-width: 1110px;
    margin: 0 auto;
}

.userBlock{
    display: flex;
    padding: 50px;
    width: 700px;
    margin: 0 auto;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
    align-items: center;
}

.userData {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.userAvatar {
    width: 200px;
    height: 200px;
    
    img {
        width: 100%;
        height: auto;
        border-radius: 50%;
    }
}

.userDataItem {
        border: 1px solid $base-dark;
        border-radius: 10px;
        padding: 8px 20px;
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        line-height: 22.8px;

        input {
            border: none;
            outline: none;
            color: black;
            cursor: pointer;
            font-size: 15px;
        }
}

.inputContainer {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.saveBtn {
    display: flex;
    align-self: flex-end;
    border: none;
    background-color: inherit;
    color: #19aa7f;
    font-size: 13px;
    padding: 0;
    font-weight: bold;
  }