.commentWrapper {
    background-color: rgba(139, 139, 139, 0.034);
    border-radius: 15px;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 2px 6px;
}

.commentHeader {
    display: flex;
    justify-content: space-between;
}

.edit, .delete {
    border: none;
    color: $base-light;
    background-color: transparent;
    border-radius: 5px;
    font-size: 13px;
    padding: 3px 6px;
}
.edit {
    color: rgb(21, 134, 104);
}

.delete{
    color: rgb(221, 78, 78);
}